.detail-container {
    display: flex;
    margin: 30px;
    box-sizing: border-box;
}

.image-detail {
    flex: 1 1 0px;
}

.image-item {
    width: 70%;
    margin: auto;
}

.description-detail {
    padding: 20px;
    flex: 1 1 0px;
    color: #555555;
}

.description-detail>h2 {
    margin: 0;
}

hr {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .detail-container {
        display: block;
        margin: 10px;
    }

    .description-detail {
        padding: 10px;
    }
}