.cart-container {
    background-color: #ebecf5;
    padding: 20px;
}

.cart-checkout {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.empty-cart {
    background-color: white;
    text-align: center;
    color: #555;
    padding: 20px;
    border-radius: 10px;
}
