.greeting {
    text-align: center;
    margin-top: 10px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.image {
    width: 70%;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
}

.arrow {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.right {
    padding-left: 30px;
}

.left {
    padding-right: 30px;
}