.navbar {
    background: linear-gradient(90deg, rgba(154,154,224,1) 0%, rgba(121,140,222,0.9738270308123249) 50%, rgba(154,154,224,1) 100%);
    padding: 10px 50px;
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
}

#logo {
    width: 120px;
    margin-right: 50px;
}

.home {
    text-decoration: none;
}

.options {
    color: white;
    padding: 0 30px;
}

.options:after {
    display:block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

.options:hover:after { transform: scaleX(1); }

.options:hover { cursor: pointer; }

.grow {
    flex-grow: 2;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-weight: 500;
}

#menu {
    display: none;
}

#menu>img {
    width: 35px;
 }

@media screen and (max-width: 800px) {
    .navbar {
        padding: 10px 30px;
    }

    .navbar-items {
        display: block;
    }

    .logo-item {
        display: inline-block;
    }

    #logo {
        width: 100px;
        margin-right: 50px;
    }

    .grow {
      display: block;
    }

    .collapse {
        display: none
    }

    #menu {
        display: block;
        float: right;
    }

    .options {
        display: block;
        text-align: center;
    }
}